body {
    /*background-color: lightskyblue;*/
}
.main {
    /*background-color: darksalmon;*/
    width: 60%;
    margin: 0 auto;
}
.review {
    /*background-color: burlywood;*/
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}
textarea {
    height: 80px;
}
.book-form input, .book-form textarea{
    /*background-color: gold;*/
    margin: 10px auto;
    display: block;
    width: 80%;
    border-radius: 20px;

}
.book-form label {
    width: 80%;
    margin: 0 auto;
    display:block;
}

.index-img {
    background: url("../img/dsf.jpg") no-repeat;
    height: 716px;
}
.index-img h1 {
    font-family: 'Comic Sans MS';
    font-size: 28px;
    width: 60%;
    margin: 20px auto;
}
ul li {
	display:block;
	transition: transform .6s ease;
	text-decoration: none;
}
ul li:hover, aside ul a:hover {
	text-decoration: none;
	transform: scale(1.05);
}
