{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <div align="center">
        <div id="wrapper">
            <div id="header">
                <div class="content">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>